{%extends "base.html" %}
{%block title %}
    Feeder
{%endblock%}
{%block content%}
    {%load static%} <link rel="stylesheet" type="text/css" href="{% static 'styles/materialize/css/materialize.css' %}" />
    {%load static%} <link rel="stylesheet" type="text/css" href="{% static 'styles/style_feeder.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
    <div class="row">
        <div class="col s3" id="nav">
            <div class="card-panel blue lighten-2 col s8" id="user_info">
                <div id="wel_text">Welcome <span style="font-weight:bolder">{{contexts.user}}</span> </br>to</br> <span style="font-weight:bolder">feedify </span> </div>
            </div>
            <div class="card-panel blue lighten-2 col s8" id="form_data">
                    <form action="/feeder/" method="GET">{% csrf_token %}        
                            <p>Filter tweets by date<input type = 'date'  name='start_date' ></p>
                            <button type="submit">Submit</button>
                        </form>
            </div>
        <div class="card-panel blue lighten-2 col s8" id="info">
            <p>{{contexts.message}}</p>
            
        </div>
        </div>
        {% autoescape off %}
        <div class="col s7" id="content">
        {%for k,v in contexts.iteritems%}
        {%if v.text %}
        <div class='card-panel'>
            <span id="tweet_by">{{v.tweet_by}}</span>
        </br>
           {{v.text}}
           {%for url in v.urls%}
           {%if url%}
            <a href={{url}} > visit</a>
            {%endif%}
            {%endfor%}
        </div>
         {%endif%}       
              {%endfor%}
        </div>
        {%endautoescape%}
    </div>
{%endblock%}